<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block title %}Home Page{% endblock %}
    {% block content %}
       <h1>Welcome to a page</h1>
       <h2>Please login from the following button</h2>
       <a href="/login">
            <button>
                Click here to login
            </button>
        </a>

       {% if content == 'True': %}
        <h2>True</h2>
        {% else %}
        <h2>Not True</h2>
        {% endif %}

        {% for i in range(10): %}
        <p>{{i}}</p>
        {% endfor %}
    {% endblock %}
   </body>
</html>